@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

:root {
    --fonte01: 'Sawarabi Gothic', sans-serif;
    --fonte02: 'Sorts Mill Goudy', serif;
}

header {
    text-align: center;
    font-family: var(--fonte01);
    background-color: black;
    color: white;
    padding: 30px 0px;    
}

h1 {

    font-variant: small-caps;
    font-size: 6vw;
    text-align: center; 
}

header p{
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-family: var(--fonte01);
    padding-bottom: 100px;
    text-align: center;
}

section {
    
    padding: 5vh;
    text-indent: 20px;  
}

section p {
    margin: auto;
    font-size: 30px;
    
    line-height: 40px;
    min-width: 350px;
    max-width: 800px;
    text-align: left;
}

.normal {
    background-color: rgb(250, 250, 250);
}

.imagem {
    box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.651);
}

.imagem p {
    background-color: rgba(2, 2, 2, 0.123);
    padding: 5px;
}

#war1 {
    background-color: black;
    background-image: url(../imagens/war1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#war2 {
    background-color: black;
    background-image: url(../imagens/war2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.imagem p {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
}

